
<navigation-directive></navigation-directive>
<div class="container center">
  
  <h1 class='head'> Polls </h1>
  <a ng-show='loggedIn' href="#createPoll" class='btn btn-info' ng-click='vote(option)'>
    <i class="fa fa-plus"></i> Create a new Poll
  </a>

  <table class='custom-table'>
    <tbody>
      <tr ng-repeat="poll in userPolls">
        <td>{{poll.title}}</td>
        <td> <a ng-href="#poll/{{poll._id}}" class='btn btn-primary btn-sm'><i class="fa fa-Rocket"></i> View</a></td>
        <td>
          {{poll.user}}
        </td>
      </tr>
    </tbody>
  </table>

</div>


