
<navigation-directive></navigation-directive>
<div class="container login-center login-box">
        <br/>
        <div class="row">
          <h1 class="head">Please fill the form </h1>
        </div>
        
        <div class="col-md-12 col-xs-12 login_control">
          <form name="form" ng-submit="register()" role="form">
                <div class="form-group">
		  <label for="username" class="cols-sm-2 control-label">Username</label>	    					<div class="cols-sm-10">
                    <div class="input-group">
		      <span class="input-group-addon"><i class="fa fa-circle-o" aria-hidden="true"></i></span>
		      <input type="text" ng-model="username" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
		    </div>
		</div>
	      </div>
                
              <div class="form-group">
		  <label for="email" class="cols-sm-2 control-label">Email</label>	    					<div class="cols-sm-10">
                    <div class="input-group">
		      <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
		      <input type="text" ng-model="email" class="form-control" name="email" id="email"  placeholder="Enter your email"/>
		    </div>
		</div>
	      </div>

               <div class="form-group">
	        <label for="password" class="cols-sm-2 control-label">Password</label>
		<div class="cols-sm-10">
		  <div class="input-group">
		    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
		    <input type="password" ng-model="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
		  </div>
		</div>
	      </div>

                <div align="center">
		 <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-info">
                  <i class="fa fa-sign-in"></i>  
                   Register 
                 </button>	
                </div>
			</form>
        </div>
        
        
            
    </div>
</div>

