
<navigation-directive></navigation-directive>
<div class="container center login-box" >

    <div class="row">
      <h1 class="head">Create a new poll </h1>
    </div>
    <br/>

  <div>
    <form ng-submit="savePoll()">

      <div class="form-group">
        <label for="username" class="cols-sm-2 control-label">Poll name</label>	    				
        <div class="input-group">
	  <span class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></span>
	  <input type="text" ng-model="pollName" class="form-control" name="username" id="username"  placeholder="Enter poll name" required/>
	</div>
      </div>

      <h3>Options</h3>


      <table class='custom-table'>
    <tbody>
       <tr ng-repeat="option in pollOptions">
         <td>
           <h2>{{option.name}}</h2>
         </td>
      r/tr>
    <tfoot>
      <tr>
        <td>enter new option : </td> 
        <td><input type="text" name="optionName" id="optionName" class="form-control" ng-model="option.name"/></td>
        <td><a class="btn btn-info" ng-click="addOption()">
            <i class="fa fa-plus"></i> Add Option</a></td>   
      </tr>
  </tfoot>
    </tbody>
  </table>
  <div align="center">
	  <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-info">
            <i class="fa fa-check" aria-hidden="true"></i>
            Create Poll
          </button>	
        </div>
    
    </form>
  </div> 
</div>


