
<navigation-directive></navigation-directive>
<div class="container center login-box">

  <h1 class='head'> My Polls </h1>
  <a href="#createPoll" class='btn btn-info'>
    <i class="fa fa-plus"></i> Create a new Poll
  </a>

   <table class='custom-table'>
    <tbody>
      <tr ng-repeat="poll in userPolls">
        <td>{{poll.title}}</td>
        <td> <a href="#poll/{{poll._id}}" class='btn btn-primary btn-sm' ng-click='selectPoll(poll)'><i class="fa fa-Rocket"></i> View</a></td>
        <td><a class="btn btn-danger btn-sm" ng-click="delete(poll)">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>




