body{
 background-color: #2B2B2B;   
}

*{
    font-family: 'Raleway', sans-serif;
    color : #FFF;
    
}

.center {
    margin: auto;
    width: 75%;
    padding: 10px;
}

.login-center {
    margin: auto;
    width: 30%;
    padding: 10px;
}

.custom-table {
  width: 100%;
}

.head{
  text-align: center;
}

tr {
  vertical-align : center;
  text-align : center;
  margin : 3px 3px 3px 3px;
  padding : 10px;
  border-bottom : 1px solid;
  border-color : #646464;
}

tr:hover {
  background-color: #646464;
}

.btn {
  background-color : transparent;
  border-color : transparent;
  width : 100%;
}

.navbar {
  background-color: #030202;
  border-color : transparent;
  -webkit-box-shadow: 0 8px 6px -6px #222222;
    -moz-box-shadow: 0 8px 6px -6px #222222;
    box-shadow: 0 8px 6px -6px #222222;
}

.login-box {
  background-color: #2B2B2B;
  border-color : transparent;
  -webkit-box-shadow: 0 8px 6px -6px #222222;
    -moz-box-shadow: 0 8px 6px -6px #222222;
    box-shadow: -6px 8px 6px -6px #222222;
}

h2 {
  font-size : 20px;
}

.growl {
    position: fixed;
    top: 10px;
    right: 10px;
    float: right;
    width: 250px;
    z-index: 9999;
}
.growl-item.ng-enter {
    -webkit-animation: bounceIn 0.5s;
    animation: bounceIn 0.5s;
}
.growl-item.ng-leave {
    -webkit-animation: bounceOut 0.5s;
    animation: bounceOut 0.5s;
}
